@charset "UTF-8";

@media screen  and (min-width:768px) and (max-width:992px){
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        
      }
      
      .container > div {
        background-color: black;
        width: 60px;
        height: 95px;
        padding: 50px;
        padding-bottom:60px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 35px;
        color:white;
        border-radius: 10px;
        
      }
      .container span.time{
        font-size:22px;
        
      }
      
}
/* Versão todas as demais midias */

/* Typical Device breakpoints
Pequenas telas: até 600px;
Celular: de 600px até 768px;
Tablet: 768px até 992px;
Desktop: 992px até 1200px;
Grandes Telas: acima de 1200px;
*/