@charset "UTF-8";

@media screen and (max-width:767px){
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
  }
  
  .container > div {
    background-color: rgba(0, 0, 0, 0.705);
    width: 20px;
    height: 71px;
    padding: 48px;
    padding-bottom:58px;
    margin: 10px;
    padding-left: 22px;
    line-height: 60px;
    font-size: 26px;
    color:white;
    border-radius: 10px;
    
  }
  .container span.time{
    
    font-size:12px;
      
  }

}

@media screen  and (min-width:768px) and (max-width:992px){
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        
      }
      
      .container > div {
        background-color:  rgba(0, 0, 0, 0.705);
        width: 60px;
        height: 85px;
        padding: 50px;
        padding-bottom:60px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 38px;
        color:white;
        border-radius: 10px;
        
      }
      .container span.time{
       
        font-size:17px;
         
      }
      
}
