/* Versão todas as demais midias */

/* Typical Device breakpoints
Pequenas telas: até 600px;
Celular: de 600px até 768px;
Tablet: 768px até 992px;
Desktop: 992px até 1200px;
Grandes Telas: acima de 1200px;
*/

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  body{
     background-image: linear-gradient(to right,#ca5009, #0b3faf);
  }

  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
    
  }
  
  .container > div {
    background-color: black;
    width: 145px;
    height: 160px;
    padding: 95px;
    padding-bottom:45px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 95px;
    color:white;
    border-radius:10px; 
    
  }
  .container span.time{
    font-size:30px;
  } 
  
 